/* Footer principal */
.footer-abasta {
  background: linear-gradient(90deg, #1a237e 0%, #3348c2 50%, #2a3eaf 100%);
  line-height: 1.2rem;
  color: #ffffff;
  padding: 2rem 0 1rem 2rem;
}

.footer-contact a {
  text-decoration: none;
  color: #ffffff;
}
.footer-contact a:hover {
  text-decoration: underline;
}

/* Columna central */
.footer-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #1e2875;
  font-weight: bold;
  font-size: 2.5rem;
  width: 150px;
  height: 80px;
  border-radius: 0.375rem;
  margin-bottom: 2rem;
}

.footer-copyright {
    text-align: start;
    padding: 0 0 0 3rem;
}

.footer-copyright a {
  color: #ffffff;
}

/* Columna dreta */
.footer-menu {
  list-style: none;
  padding: 0 0 0 4rem;
}

.footer-menu li {
  margin-bottom: 0.2rem;
}


.footer-menu a {
  color: #ffffff;
  text-decoration: none;
}

.footer-menu a:hover {
  text-decoration: underline;
}
