@use '../../../assets/styles/variables' as *;

.leftbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 900;

  &.collapsed {
    width: 80px;
  }

  .nav-link {
    color: white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      opacity: 1;
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.25);
      opacity: 1;
    }
  }
}
.mobile-menu {
  z-index: 1050;
  .nav-link {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      opacity: 1;
    }
  }
  button {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      opacity: 1;
    }
  }
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
}

.leftbar-header {
  height: 78px;
  padding-left: 24px;
  padding-top: 16px;
}
