@import '../../../assets/styles/variables';

.page-header {
  margin-bottom: 1.5rem;

  .page-title {
    color: $primary;
    font-size: 1.75rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  .page-actions {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
  }
}
