.send-order-modal .modal-content {
  border-radius: 16px;
  padding: 8px 4px;
}

/* Targetes */
.send-order-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    background-color: #f3edff;
    border-color: #7140fd !important;
  }

  &.selected {
    border: 1px solid #7140fd;
    background: #f3edff !important;
  }
}

.modal-header-custom {
  border-bottom: none;
}

.modal-title-custom {
  font-size: 24px;
  font-weight: 600;
}

.send-order-info {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 14px 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.send-order-footer {
  border-top: none;
  display: flex;
  justify-content: space-between;
}
