.cta-button {
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}

.btn-primary-custom {
  background: linear-gradient(160deg, #6A36FF 0%, #AC5FE6 100%);
  color: white;
  border: none;
}

.btn-primary-custom:hover {
  opacity: 0.9;
  color: white;
}

.btn-secondary-custom {
  background-color: white;
  color: #6A36FF;
  border: 2px solid #6A36FF;
}

.btn-secondary-custom:hover {
  background-color: #f2ebff;
  color: #4b20c2;
}

.cta-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
