// Colors corporatius
$primary: #1c2792;
$secondary: #8c00ff;
$ternary: #cc8300;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

// Tipografia
$font-family-sans-serif: (
  'Poppins',
  'Inter',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif
);

// Espaiats
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  // 4px
  2: $spacer * 0.5,
  // 8px
  3: $spacer,
  // 16px
  4: $spacer * 1.5,
  // 24px
  5: $spacer * 2,
  // 32px
  6: $spacer * 3,
  // 48px
  7: $spacer * 5, // 80px
);

// Border radius
$border-radius: 0.5rem; // 8px
$border-radius-sm: 0.25rem; // 4px
$border-radius-lg: 0.75rem; // 12px
