.company-config {
  max-width: 800px;

  h2 {
    font-size: 1.8rem;
  }

  .form-control[disabled] {
    background-color: #f5f7fa;
    border-color: #d1d5db;
    color: #495057;
  }

  .alert {
    border-radius: 10px;
  }

  button {
    border-radius: 50px;
    font-weight: 500;
  }

  label {
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .cta-button {
    width: 100%;
  }

  .button-group {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
}
